<div class="row">
  <div class="col-xs-12">
    <form id="shopping-list-add" (ngSubmit)="onSubmit(f.value)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="item-name">Name</label>
          <input 
            type="text" 
            id="item-name" 
            required 
            class="form-control"
            [ngModel]="item.name"
            name="name"><!-- ngModel directive to define the field as a control and name attribute to define a name for it -->
            <!-- ngModel one way data binding is used to display items data when selected -->
        </div>

        <div class="col-sm-2 form-group">
          <label for="item-amount">Amount</label>
          <input 
            type="text" 
            id="item-amount" 
            required 
            class="form-control"
            [ngModel]="item.amount"
            name="amount">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" *ngIf="isAdd" [disabled]="!f.valid">Add</button>
          <button class="btn btn-success" type="submit" *ngIf="!isAdd" [disabled]="!f.valid">Save</button><!-- Edit mode -->
          <button class="btn btn-danger" type="button" *ngIf="!isAdd" (click)="onDelete()">Delete Item</button><!-- Not add mode -->
          <button class="btn btn-primary" type="button" *ngIf="!isAdd" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
